@import '../../scss/properties', '../../scss/media'

.add-image-form-items
    display: flex
    @include tablet(true)
        flex-direction: column
    @include desktop
        flex-direction: row
    .add-image-form-item
        @include desktop
            width: 350px
        .add-image-form-item-inputs
            height: 30px
            display: flex
            flex-direction: row
            margin-right: 10px
            label
                @include desktop
                    margin-right: 10px
                @include tablet(true)
                    width: 150px
                    display: inline-block
            input
                width: 100%
        .add-image-form-error
            color: red
    button
        color: $main_color
        background-color: $secondary_color
        cursor: pointer
        border: 0px
        height: 30px
        border-radius: 5px