@import '../../scss/properties', '../../scss/media'

$button_radius: 5px

.pagination
    margin: auto
    max-width: 700px
    .pagination-list
        @include phone
            padding-left: 10px
        .pagination-list-item
            list-style: none
    .pagination-header
        display: flex
        @include tablet(false, true)
            flex-direction: row
        @include phone
            flex-direction: column
        justify-content: space-between
        .pagination-actions
            @include phone
                margin-top: 5px
            button
                cursor: pointer
                border: none
                height: 25px
                background-color: $secondary_color
                color: $main_color
            button:first-child
                border-bottom-left-radius: $button_radius
                border-top-left-radius: $button_radius
            button:last-child
                border-bottom-right-radius: $button_radius
                border-top-right-radius: $button_radius
            button[disabled]
                cursor: initial
                background-color: $main_color_contrast
#pagination-loading
    text-align: center