.properties
    min-width: 300px
    ul
        padding-left: 0px
    .properties-attributes
        padding-left: 0px
        .helper
            cursor: help
        .odd
            background-color: rgba(255, 255, 255, 0.2)
        li
            list-style: none
            display: flex
            flex-direction: row
            justify-content: space-between

            .propertie-label
                width: 30%

            .propertie-value-unit
                display: flex
                flex-direction: row
                margin-left: 10px

                .properties-unit
                    margin-left: 5px