@import '../scss/properties.scss'


.changeLanguage
    color: $main_color
    height: $header_nav_height
    margin-right: 10px
    width: 130px
    img
        max-height: $header_nav_height
    .changeLanguage_langage
        display: flex
        flex-direction: row
        align-items: center

    .dropdown_body
        background-color: $header_nav_background_color
