@import '../scss/properties.scss'
    
$space_betwwen_item : 10px

.nav
    font-size: 1.1em
    .active
        color: $secondary_color
    a
        color: $main_color
        text-decoration: none
        padding-left: $space_betwwen_item
        padding-right: $space_betwwen_item